In [11]:
import pandas as pd
import numpy as np

In [3]:
authors = pd.DataFrame({'author_id':[1, 2, 3],

'author_name':['Тургенев', 'Чехов', 'Островский']}, columns=['author_id', 'author_name'])

In [4]:
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],

'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],

'price':[450, 300, 350, 500, 450, 370, 290]},

columns=['author_id', 'book_title', 'price'])

In [5]:
authors_price = pd.merge(authors, books, on = 'author_id', how = 'outer')

In [6]:
top5=authors_price.nlargest(5, 'price')

In [7]:
df1 = authors_price.groupby('author_name').agg({'price': 'min'}).rename(columns={'price':'min_price'})

df2 = authors_price.groupby('author_name').agg({'price': 'max'}).rename(columns={'price':'max_price'})

df3 = authors_price.groupby('author_name').agg({'price': 'mean'}).rename(columns={'price':'mean_price'})

authors_stat=pd.concat([df1, df2, df3], axis = 1)

In [8]:
df1 = pd.DataFrame({'cover':['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']}, columns=['cover'])

authors_price = pd.concat([authors_price, df1], axis = 1)

In [9]:
?pd.pivot_table

In [12]:
book_info = pd.pivot_table(authors_price, values='price', index=['author_name'],

columns=['cover'], aggfunc=np.sum, fill_value=0)

In [13]:
book_info.to_pickle('book_info.pkl')

In [14]:
book_info2 = pd.read_pickle('book_info.pkl')

In [15]:
book_info==book_info2

cover        мягкая  твердая
author_name
Островский     True     True
Тургенев       True     True
Чехов          True     True