In [5]:
#Задание №1
import numpy as np
import pandas as pd
import warnings
warnings.filterwarings('ignore')

In [7]:
from sklearn.datasets import load_boston
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [15]:
#Определяю данным переменные
data = boston["data"]
feature_names = boston["feature_names"]
target = boston["target"]

In [16]:
#Создаю переменные Х и у
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [18]:
y = pd.DataFrame(target, columns=["price"])

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [23]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [24]:
lr.fit(X_train, y_train)

LinearRegression()

In [25]:
y_pred = lr.predict(X_test)
y_pred.shape

(152, 1)

In [26]:
check_test = pd.DataFrame({
 "y_test": y_test["price"],
 "y_pred": y_pred.flatten(),
})
check_test.head(10)

     y_test     y_pred
181    36.2  26.750978
358    22.7  23.006847
286    20.1  19.389349
200    32.9  30.875652
80     28.0  28.374493
70     24.2  25.296678
482    25.0  29.342208
498    21.2  21.187264
25     13.9  12.710677
123    17.3  15.738605

In [27]:
#Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.
check_test["error"] = check_test["y_pred"] - check_test["y_test"]
check_test.head()

     y_test     y_pred     error
181    36.2  26.750978 -9.449022
358    22.7  23.006847  0.306847
286    20.1  19.389349 -0.710651
200    32.9  30.875652 -2.024348
80     28.0  28.374493  0.374493

In [28]:
from sklearn.metrics import r2_score
r2_score_1=r2_score(check_test["y_pred"], check_test["y_test"])
r2_score_1

0.5834743025227285

In [29]:
#2. Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.e
#Сделайте агрумент n_estimators равным 1000, max_depth должен быть равен 12 и random_state 
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [30]:
#Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegres
#но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0], чтобы по
#из датафрейма одномерный массив Numpy, так как для класса RandomForestRegressor в данном м
#для аргумента y предпочтительно применение массивов вместо датафрейма.
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [32]:
#Сделайте предсказание на тестовых данных и посчитайте R2.
y_pred = model.predict(X_test)
y_pred.shape

(152,)

In [33]:
check_test = pd.DataFrame({
 "y_test": y_test["price"],
 "y_pred": y_pred.flatten(),
})
check_test.head(10)

     y_test     y_pred
181    36.2  25.072199
358    22.7  21.082156
286    20.1  21.760479
200    32.9  34.770308
80     28.0  27.242730
70     24.2  24.042956
482    25.0  29.960115
498    21.2  20.026252
25     13.9  15.804334
123    17.3  17.127671

In [34]:
r2_score_2=r2_score(check_test["y_pred"], check_test["y_test"])
r2_score_2

0.7714406150466395

In [35]:
#Сравните с результатом из предыдущего задания.
#Напишите в комментариях к коду, какая модель в данном случае работает лучше.
r2_score_1<r2_score_2

True